<div class="header_left">
  <img src="img/logo/logo_img1.png" alt="Company logo">
  <img src="img/logo/logo_img2.png" width="1px" alt="">
  <img src="img/logo/logo_img3.png" alt="Brand">
</div>
<div class="header_center">
  <form onsubmit="search()"><input id="searchBox" placeholder="Search" value="" type="text" alt="Search box"></form>
    
  
</div>
<div class="header_right">
  <a href="../views/postDetails.html"><img src="img/icons/icon2.png" alt="Favorite photos"></a>
  <a href="../views/upload.html"><img src="img/icons/icon3.png" alt="Profile"></a>
  <img src="img/icons/icon1.png" alt="Logout" id="logout">
</div>

<script>
  /*global $*/
  $('#logout').click( () => {
    $.post('/logout')
    .done( () => {
      window.location.replace('/login');
    });
  });
  
  function search()
      {
        Promise.resolve()
            .then(() => {
              return $.post('/searchUser', {user: $('#searchBox').val()});
            })
            .done((user) => {
              console.log(user._id);
              window.location.href = '/postList?id=' + user._id;
            });
      }
</script>