<div class="header_left">
  <img src="img/logo/logo_img1.png" alt="Company logo">
  <img src="img/logo/logo_img2.png" width="1px" alt="">
  <img src="img/logo/logo_img3.png" alt="Brand">
</div>
<div class="header_center">
  <input placeholder="Search" value="" type="text" alt="Search box">
</div>
<div class="header_right">
  <button type="button" id="logout">Log Out</button>
  <img src="img/icons/icon1.png" alt="History">
  <img src="img/icons/icon2.png" alt="Favorite photos">
  <img src="img/icons/icon3.png" alt="User profile">
</div>

<script>
  /*global $*/
  $('#logout').click( () => {
    $.post('/logout')
    .done( () => {
      window.location.replace('/login');
    });
  });
</script>