<!DOCTYPE HTML>
<html>
	<head>
		<title>Reset Password</title>
		<link href="../css/forgotPassword.css" rel="stylesheet" type="text/css" media="all"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="elelment">
			<h2>Forgot password?</h2>
			<div class="element-main">
				<h1>Reset Password</h1>
				<p>We can help you reset your password using your Instagram username or the email address linked to your account.</p>
				<form>
					<input type="text" value="Your e-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your e-mail address';}">
					<input type="submit" value="Reset Password">
				</form>
			</div>
		</div>
		<div class="copy-right">
			<p>&copy;2017 - <strong>INSTAGRAM CLONE CREATED BY TRAN NGOC PHUONG DANG, CHI HIEU TRAN AND DUNCAN ROBERTSON</strong></p>
		</div>
	</body>
</html>